In [1]:
import pandas as pd

In [2]:
url_1 = "https://stooq.com/q/d/?s=7203.jp&i=d&d1=20190401&d2=20190920&l="

In [4]:
i = 1
url = url_1 + str(i)

In [5]:
data = pd.read_html(url, header=0)

In [9]:
data[0].head(10)

,No.,Date,Open,High,Low,Close,Change,Change.1,Volume
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Ulubione GPW, WIG20, Akcje Indeksy, Azja, Euro...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Market On-line,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,116.0,20 Sep 2019,1435.14,1442.32,1430.49,1435.73,+0.53%,8.0,39636315.0
6,115.0,19 Sep 2019,1440.19,1446.78,1428.16,1428.16,-0.75%,-11.0,30687595.0
7,114.0,18 Sep 2019,1438.05,1445.42,1436.50,1439.02,-0.34%,-5.0,22486015.0
8,113.0,17 Sep 2019,1432.23,1448.33,1423.12,1443.87,+0.66%,10.0,34511490.0
9,112.0,13 Sep 2019,1424.48,1436.69,1419.82,1434.37,+0.78%,11.0,50285575.0

In [10]:
df_stock = data[1][5:]

In [11]:
df_stock.head()

,No.,Date,Open,High,Low,Close,Change,Change.1,Volume
5,116,20 Sep 2019,1435.14,1442.32,1430.49,1435.73,+0.53%,8.0,39636315.0
6,115,19 Sep 2019,1440.19,1446.78,1428.16,1428.16,-0.75%,-11.0,30687595.0
7,114,18 Sep 2019,1438.05,1445.42,1436.50,1439.02,-0.34%,-5.0,22486015.0
8,113,17 Sep 2019,1432.23,1448.33,1423.12,1443.87,+0.66%,10.0,34511490.0
9,112,13 Sep 2019,1424.48,1436.69,1419.82,1434.37,+0.78%,11.0,50285575.0